body {
  font-family: Verdana,sans-serif;
}

nav {
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  width: 16.6667%; /* fallback for non-calc() browsers */
  width: calc(100% / 6) !important;
}

a {
  display: block;
  padding: 23px;
  background-color: #3b4042;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

img {
  float: left;
}
